/* Strikes through the completed items */
li[data-todo-item-completed="true"] span {
	text-decoration: line-through;
}
li[data-todo-item-completed1="true"] span {
	text-decoration: line-through;
}
/* Button nicht durchstreichen */
li[data-todo-item-completed="true"] button span{
	text-decoration: none;
}
/* Färbung für overdue */
li[data-date-value-overdue="true"]{
	background-color: rgba(255,0,0,0.3)
}
li[data-date-value-overdue="true"] span bdi{
	color: red;
	font-weight: 800;
}
.top25Per{
	top: 25%;
}